<footer id="footer-sec">
    <div class="container">
        <div class="footer-widgets">
            <div class="row">
                <div class="col-md-3 col-sm-12 foot-about">
                    <div class="widgets">
                        <h2 class="dark-title"><a href="javascript:;">关于我们</a> </h2>
                        <div class="f-about"> {$about_us.intro} </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hidden-sm hidden-xs foot-nav">
                    <div class="widgets">
                        <h2>快捷链接</h2>
                        <ul class="tag-list">
                            <li>
                                <a href="javascript:;">网站首页</a>
                            </li>

                            <li>
                                <a href="javascript:;">关于我们</a>
                            </li>

                            <li>
                                <a href="javascript:;">产品系列</a>
                            </li>

                            <li>
                                <a href="javascript:;">定制案例</a>
                            </li>

                            <li>
                                <a href="javascript:;">新闻资讯</a>
                            </li>

                            <li>
                                <a href="javascript:;">产品原理</a>
                            </li>

                            <li>
                                <a href="javascript:;">招商加盟</a>
                            </li>

                            <li>
                                <a href="javascript:;">联系我们</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hidden-sm hidden-xs foot-contact">
                    <div class="widgets">
                        <h2 class="dark-title"><a href="javascript:;">联系我们</a> </h2>
                        <div class="f-contact">
                            <p> <i class="fa fa-map-marker"></i> 地址：{$about_us.addr} </p>
                            <p> <i class="fa fa-phone"></i> 电话：{$about_us.telephone} </p>
                            <p> <i class="fa fa-fax"></i> 传真：{$about_us.fax} </p>
                            <p> <i class="fa fa-globe"></i> 手机：{$about_us.mobile} </p>
                            <p> <i class="fa fa-envelope"></i> 邮箱：{$about_us.email} </p>
                            <p> <i class="fa fa-home"></i> 网址：{$about_us.url} </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hidden-sm hidden-xs foot-qrcode">
                    <div class="widgets info-widget">
                        <h2>扫描二维码</h2>
                        <div class="f-qrcode"> <img src="{$about_us.QR_code}" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-line">
        <div class="container">
            <p class="copyright"> Copyright &copy; 2018 某某智能玩具有限公司 版权所有 </p>
        </div>
    </div>
</footer>